html
{
	font-family: Source Sans Pro;
}

html, body
{
	margin: 0;
	padding: 0;
}

input
{
	font-family: Source Sans Pro;
	font-size: 1em;
}

button
{
	border-style: none;
	background-color: black;
	color: white;
	font-family: Source Sans Pro;
	transition: 0.25s;
}

body
{
	height: 100%;
	padding-left: 2em;
}

button:hover
{
	background-color: darkgrey;
}

button:active
{
	background-color: grey;
}


#req, #clear, footer
{
	clear: both;
}

#under, #results, #over
{
	float: left;
	width: 8em;
}

#maxDuration
{
	margin-left: 1.5em;
}

#percentReq, #maxDuration
{
	width: 4em;
}

#underVal, #overVal
{
	border-style: none;
	width: 2em;
	text-align: center;
	font-size: 1em;
	background-color: transparent;
}

#percentage
{
	border-style: none;
	width: 6em;
	font-size: 1em;
	background-color: transparent;
}

footer
{
	font-size: 1.2em;
}